<li class="list-group-item">
  <div class="row">
    <strong class="col-3">Username:</strong><%= share.user.username %><br>
  </div>
  <div class="row">
    <strong class="col-3">Email:</strong><%= share.user.email %><br>
  </div>

  <%= link_to "Remove", [share.note, share], class: "share-remove-link", method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
</li>