
.logo-title{
    padding-left: 4px;
    vertical-align: middle;
}

.form-input-icon{
    padding-top: 10px;
}

.navbar-search{
    margin-left: 5rem;
}

.login-status{
    margin-left: auto;

}

.user-name{
    font-weight: bold;
}

.loginMenuButton{
    border-radius: 8px;
    border: 1px solid #dadce0;
}
