/*
 *= require jquery-ui/autocomplete
 *= require shares
 */

.logo-title {
  padding-left: 4px;
  vertical-align: middle;
}

.form-input-icon {
  padding-top: 10px;
}

.navbar-search {
  margin-left: 5rem;
}

.login-status {
  margin-left: auto;
}

.user-name {
  font-weight: bold;
}

.login-menu-button {
  border-radius: 8px;
  border: 1px solid #dadce0;
}

.login-form {
  margin-top: 20px;
  box-shadow: 1px 1px 2px grey;
}

.notes-main-container {
  margin-top: 20px;
}

.notes-form-container {
  width: 400px;
  margin-top: 20px;
}

.note-crud-btn {
  margin: 10px auto;
}

.navigation-links {
  margin: 5px 10px;
}

.attachment-img {
  width: 100px;
}

.note-pin {
  padding: 5px;
}
